/**
* Gilroy
*/

@font-face {
  font-family: 'Gilroy Regular';
  src: url('./../fonts/Gilroy/Gilroy-Regular.ttf')  format('truetype'),
  url('./../fonts/Gilroy/Gilroy-Regular.eot')  format('eot'),
  url('./../fonts/Gilroy/Gilroy-Regular.woff')  format('woff')
}
@font-face {
  font-family: 'Gilroy Bold';
  src: url('./../fonts/Gilroy/Gilroy-Bold.ttf')  format('truetype'),
  url('./../fonts/Gilroy/Gilroy-Bold.eot')  format('eot'),
  url('./../fonts/Gilroy/Gilroy-Bold.woff')  format('woff')
}