html, body {
  margin: 0;
  font-family: $font-gilroy-reg;
  outline: none;
}

h2 {
  font-family: $font-gilroy-bold;
  font-size: 22px;
  color: $black;
}

.wrapper {
  position: relative;
  background-color: $white;
  width: 100%;
  .ellipse {
    display: none;
  }
  .main-block {
    display: flex;
    background-image: url("./../img/hands.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    &:before {
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -25%;
      transform: translate(-50%, -50%);
      h3 {
        font-family: $font-gilroy-bold;
        font-size: 18px;
        color: $white;
        line-height: 33px;
        margin-bottom: 33px;
      }
      h1 {
        font-family: $font-gilroy-bold;
        font-size: 36px;
        color: $white;
        line-height: 44px;
        margin-bottom: 65px;
      }
      p {
        font-size: 14px;
        color: $white;
        line-height: 24px;
      }
      .form-inline {
        margin-bottom: 30px;
        input {
          padding-left: 20px;
          width: 333px;
          height: 38px;
          background: $white;
          border-radius: 50px;
          border-color: transparent;
          &:focus {
            border-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
        button {
          padding-left: 20px;
          padding-right: 20px;
          height: 38px;
          background: $red;
          border-radius: 50px;
          outline: none;
          border: none;
          @include transition(.2s);
          &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: none;
          }
          &:hover {
            background-color: darken($red, 5%);
            @include transition(.2s);
          }
        }
      }
    }
    .social {
      list-style-type: none;
      display: inline-flex;
      padding-inline-start: 0;
      li {
        margin-right: 15px;
        cursor: pointer;
        @include transition(.8s);
        &:hover {
          transform: rotateY(180deg);
          @include transition(.8s);
        }
      }
    }
  }
  .contact-block {
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -40%;
      transform: translate(-50%, -50%);
      .ellipse {
        display: block;
        width: 68px;
        height: 68px;
        background-color: $red;
        border-radius: 100px;
        margin-bottom: 50px;
      }
      .cities {
        .address {
          margin-bottom: 50px;
          h2 {
            margin-bottom: 20px;
          }
          p {
            font-size: 12px;
            line-height: 21px;
            color: $black;
            a {
              color: $red;
            }
            span {
              color: $grey;
            }
          }
        }
      }
    }
  }
}