@media screen and (max-width: 991px) {
  .wrapper {
    .ellipse {
      display: block;
      width: 68px;
      height: 68px;
      background-color: $red;
      border-radius: 100px;
      margin: 20px auto 20px 20px;
    }
    .main-block {
      .content {
        left: 30px;
        top: 60px;
        margin-right: 0;
        transform: none;
        h3 {
          font-size: 22px;
        }
        h1 {
          font-size: 38px;
          line-height: 58px;
          margin-bottom: 20px;
        }
        p {
          font-size: 22px;
          line-height: 38px;
        }
        .form-inline {
          input {
            font-size: 18px;
          }
          button {
            font-size: 18px;
          }
        }
      }
    }
    .contact-block {
      .content {
        margin-top: 50px;
        margin-right: 0;
        position: unset;
        transform: none;
        .ellipse {
          display: none;
        }
        .cities {
          .address {
            margin-bottom: 30px;
            h2 {
              font-size: 48px;
              line-height: 58px;
            }
            p {
              font-size: 22px;
              line-height: 38px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    .ellipse {
      width: 41px;
      height: 41px;
    }
    .main-block {
      .content {
        h3 {
          font-size: 14px;
        }
        h1 {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 30px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
        .form-inline {
          input {
            font-size: 14px;
            width: 100%;
            margin-right: 30px;
          }
          button {
            font-size: 14px;
          }
        }
      }
    }
    .contact-block {
      .content {
        .ellipse {
          display: none;
        }
        .cities {
          .address {
            h2 {
              font-size: 28px;
              line-height: 34px;
            }
            p {
              font-size: 18px;
              line-height: 31px;
            }
          }
        }
      }
    }
  }
}